In [10]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [11]:
driver = webdriver.Chrome()
driver.get('https://liquipedia.net/valorant/VCT/2023/Pacific_League/Statistics')

In [12]:
playerNames = driver.find_elements(By.XPATH,'//tbody/tr/td[1]/a')

list = []

for each in playerNames:
    list.append(each.text)

print(list)

['Sayaplayer', 'something', 'Foxy9', 'Jinggg', 'SkRossi', 'BuZz', 'f0rsakeN', 'Dep', 't3xture', 'Suggest', 'Meteor', 'Seoldam', 'Monyet', 'xffero', 'MaKo', 'garnetS', 'EJAY', 'Benkai', 'Munchkin', 'k1Ng', 'patt', 'Lmemore', 'd4v41', 'Jremy', 'xeta', 'Sylvan', 'SugarZ3ro', 'Crws', 'fl1pzjder', 'Bazzi', 'foxz', 'GodDead', 'invy', 'TENNN', 'WRONSKI', 'sushiboys', 'Anthem', 'iNTRO', 'JitboyS', 'ban', 'TS', 'DubsteP', 'Rb', 'takej', 'Lightningfast', 'Zest', 'CigaretteS', 'Emman', 'Carpe', 'stax', 'BORKUM', 'Reita', 'mindfreak', 'AYRIN', 'Laz', '2ge', 'eKo', 'xnfri', 'JessieVash', 'crow', 'lenne']

In [13]:
dfpName= pd.DataFrame(list,columns=["Player Nickname"])
dfpName

   Player Nickname
0       Sayaplayer
1        something
2            Foxy9
3           Jinggg
4          SkRossi
..             ...
56             eKo
57           xnfri
58      JessieVash
59            crow
60           lenne

[61 rows x 1 columns]

In [6]:
new =[]
for i in range(len(list)):
    temp = []
    string = 'https://liquipedia.net/valorant/' + list[i]
    driver.get(string)
    pName = driver.find_element(By.XPATH,'//div/div[2]/div[1]/div[4]/div[2]')
    temp.append(pName.text)
    try:
        birth = driver.find_element(By.XPATH,"//*[contains(text(), '(age')]")
        temp.append(birth.text)
    except:
        pass
    new.append(temp)

In [7]:
dfpinfo = pd.DataFrame(new,columns=["Player Name","Birth"])
dfpinfo

             Player Name                       Birth
0                    하정우      July 29, 1998 (age 24)
1            Илья Петров  February 11, 2002 (age 21)
2                    정재성  November 20, 2004 (age 18)
3          Wang Jing Jie      July 29, 2003 (age 19)
4       Ganesh Gangadhar   October 12, 1997 (age 25)
..                   ...                         ...
56                   염왕룡                        None
57         Tomoki Moriya      March 9, 1999 (age 24)
58   Jessie Cristy Cuyco  February 21, 1990 (age 33)
59                 丸岡 智明  November 28, 1997 (age 25)
60  Lionel Lim You Xiang                        None

[61 rows x 2 columns]

In [8]:
dfnew = pd.concat([dfpName,dfpinfo],axis=1,join='inner')
dfnew

   Player Nickname           Player Name                       Birth
0       Sayaplayer                   하정우      July 29, 1998 (age 24)
1        something           Илья Петров  February 11, 2002 (age 21)
2            Foxy9                   정재성  November 20, 2004 (age 18)
3           Jinggg         Wang Jing Jie      July 29, 2003 (age 19)
4          SkRossi      Ganesh Gangadhar   October 12, 1997 (age 25)
..             ...                   ...                         ...
56             eKo                   염왕룡                        None
57           xnfri         Tomoki Moriya      March 9, 1999 (age 24)
58      JessieVash   Jessie Cristy Cuyco  February 21, 1990 (age 33)
59            crow                 丸岡 智明  November 28, 1997 (age 25)
60           lenne  Lionel Lim You Xiang                        None

[61 rows x 3 columns]

In [ ]:
dffinal = pd.concat([dfnew,])

In [24]:
jsonp_path = '../data/playerinfo.json'
dfnew.to_json(jsonp_path)